@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:wght@500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
}

.sidebaritem {
  margin-left: 0.5rem;
  font-family: "Roboto", sans-serif;
}

.title_name {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-size: large;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

[data-collapse="true"] {
  width: 5.3rem;
  /* transform: translateX(-90%); */
}

[data-collapse="true"] .sidebaritem {
  display: none;
}
[data-collapse="true"] .title_name {
  display: none;
}

.customtansition {
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
